.main{
  display:flex;
  flex-direction: column;
  }

#title{
  background-color: black;
  color:white;
}

.center, .right, .left{
  display: flex;
  flex-direction: column;

}

.center{
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1sDshyJB52aRETgXof7gBgc4ElCQ6pFwz28X9mH8StUDZ0V5hqw');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.8em;

}

input, button{
  padding: 12px;
  margin-left: 250px;
  margin-right: 250px;
}
