.main{
  display:flex;
  flex-direction: column;
  }

#title, #facts{
  color: #fe6666;
  text-align: center;

}
#facts{
  background-color: silver;
  padding: 8px;
}

.center, .right, .left{
  display: flex;
  flex-direction: column;

}


.center{
  text-align: center;
  background-image: url('https://www.quickanddirtytips.com/sites/default/files/styles/article_main_image/public/images/6442/abstract-triangles.png?itok=Mur3-XJF');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 1.8em;

}

input, button{
  padding: 12px;
  margin-left: 250px;
  margin-right: 250px;
}
/*styling for images begins here*/
.left{
  display: flex;
  flex-direction: row;
  overflow: auto;

}
.flex{
  display: flex;
  flex-direction: column;
  padding:1.1em;
}

#sheldon, #calc, #history, #khan{
  font-size: 2em;
  background-color: steelblue;
  border-radius:12px;
  padding:8px;
}
#one:hover, #two:hover, #three:hover, #four:hover{
  background-color: #fe6666;
}

.left a {
  text-decoration: none;
  color: black;
}
#four{
  margin-left: 39px;
}
.flex:hover #calc, .flex:hover #khan, .flex:hover #history, .flex:hover #sheldon{
  background-color: silver;
}
/*styling for images ends here*/
#conclude{
  background-image: url("https://media1.tenor.com/images/bac8de6ed88be8d6d92ec273419db09f/tenor.gif?itemid=12904423");
  background-color: silver;
  padding: 20px;
  font-family: fantasy;
  text-align: center;
  font-size: 1.8em;
  animation: marquee 5s;
}
body{
  font-family: Abel;
}
